parameters:
	# Database
	database:
		host: '127.0.0.1'
		dbmane: ''
		user: ''
		password: ''

	# Cron
	cron:
		hash: ''

	# Reviews (implemented)
	reviews:
		request_debug: true
		report_email: ''
		google_review_url: ''
		positive_url: ''
		negative_url: ''

	# Rezervace (not implemented yet)
	reservation:
		hourStart: 16
		hourCount: 6
		unitsPerHour: 3

	# Partials (implemented)
	partials:
		referer_check: false
		#referer_check: 'localhost'
		#referer_check: 'vrko.cz'

	# mPDF (not implemented yet)
	mpdf_config:
		#tempDir: %tempDir%
		tempDir: '../temp'
		ignore_invalid_utf8: true
		useOnlyCoreFonts: false

	# SMS Brana (not implemented yet, but we have some progress)
	smsbrana_api:
		url: https://api.smsbrana.cz/smsconnect/
		login: ''
		password: ''
		sender_id: 0

	# Ecomail API (not implemented yet, but we have some progress)
	ecomail_api:
		url: https://api2.ecomailapp.cz/
		#url: https://apinew.ecomailapp.cz/
		key: ''
		response: 'JSONArray' # JSONObject, JSONArray or PlainText

	# Dotykacka API (partially implemented)
	dotykacka_api:
		url: https://api.dotykacka.cz/v2/
		refreshToken: ''
		cloudId: ''
		branchId: ''
		warehouseId: ''
		tables: [
			'',	# 0: Table 1
			'',	# 1: Table 2
			'',	# 2: Table 3
		]

	# Comgate API - PRODUCTION
#	agmo_payments:
#		paymentsUrl: https://payments.comgate.cz/v1.0/create
#		merchant: ''
#		test: false
#		secret: ''
#		paymentsUrl2: NULL
#		dataFolderName: %tempDir%/comgate

	# Comgate API - DEVELOPMENT
	agmo_payments:
		paymentsUrl: https://payments.comgate.cz/v1.0/create
		merchant: ''
		test: true
		secret: ''
		paymentsUrl2: NULL
		dataFolderName: %tempDir%/comgate


mail:
	smtp: true # use SmtpMailer instead of SendmailMailer
	host: ''
	port: 587
	username: ''
	password: ''
	# possible values are ssl, tls or null
	secure: tls
