# Display PHP errors - .htaccess
php_flag display_errors on
php_value error_reporting 6143
###################################

#Order Deny,Allow

# local host
Allow from 127.0.0.0/24

# local net
Allow from 192.168.0.0/21

# ladius-nat
Allow from 81.201.56.243

# COMGATE
Allow from 89.185.236.55/32

# zbytek sveta
Deny from All
